.titulo__icones {
   margin-left: 2rem;
   width: 10rem;
}

@media screen and (max-width: 768px) {
   .titulo__icones {
      margin-left: 1.5rem;
      width: 7rem;
   }
}

@media screen and (max-width: 425px) {
 .titulo__icones {
   margin-left: 1rem;
   width: 4rem;
 }
}