.informacoes {
   padding: 2rem 5rem 1rem;
   text-align: center;
}

.informacoes p {
   margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
   .informacoes {
      padding: 2rem 3rem 1rem;
   }
   
   .informacoes p {
      margin-bottom: 1rem;
   }
}

@media screen and (max-width: 425px) {
   .informacoes {
      padding: 2rem 1rem 1rem;
   }
}